@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    transform: translateZ(20px);
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.better{
    transform-style: preserve-3d;
    transform:perspective(100px)
    position: relative;
    display: grid;
}
.better .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 28px;
    

}
.better span{
    display: grid;
    width: 65px;
    height: 60px;
    color: rgb(255, 255, 255);
    place-items: center;
    background: rgb(54, 49, 45);
    border: 1px solid rgba(102, 85, 201, 0.466);
    
    
}
.better span:active{
    background: rgb(199, 27, 99);
    color: #111;
}
.better span.clear:active{
    background: rgb(255, 230, 5);
    color: #111;
}
.better span.equals:active{
    background: rgb(255, 230, 0);
    color: #111;
}
.better span.clear{
    grid-column: span 2;
    width: 132px;
}
.better span.plus{
    grid-row: span 2;
    height: 122px;
}


